<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>com.hi.handy.authapi.plugin.AuthApiPlugin</class>
   <name>handy-authapi-plugin</name>
   <description>handy auth api</description>
   <author>Dave</author>
   <version>1.0.0</version>
   <date>2019-06-06</date>
   <minServerVersion>4.3.2</minServerVersion>
   <adminconsole>
      <tab id="tab-server">
         <sidebar id="sidebar-server-settings">
            <item id="auth-api"
                  name="Handy Auth API"
                  url="auth-api.jsp"
                  description="Handy Auth API" />
         </sidebar>
      </tab>
      <tab id="tab-users">
         <sidebar id="sidebar-groups">
            <item id="hdGroup-operate"
                  name="Handy Agent Group Operate"
                  url="hdGroup.jsp"
                  description="Handy Agent Group Operate" />
         </sidebar>
      </tab>
      <tab id="tab-users">
         <sidebar id="sidebar-users">
            <item id="hdAgent-operate"
                  name="Handy Agent Operate"
                  url="hdAgent.jsp"
                  description="Handy Agent Operate" />
         </sidebar>
      </tab>
      <tab id="tab-users">
         <sidebar id="sidebar-users">
            <item id="hdGuest-operate"
                  name="Handy Guest Operate"
                  url="hdGuest.jsp"
                  description="Handy Guest Operate" />
         </sidebar>
      </tab>
   </adminconsole>
</plugin>
