<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>com.hi.handy.muc.plugin.MUCPlugin</class>
   <name>MUC Plugin</name>
   <description>save MUC info</description>
   <author>Xiutao</author>
   <version>1.0.0</version>
   <date>2019-05-30</date>
   <minServerVersion>4.2.0</minServerVersion>
   <!--<adminconsole>-->
      <!--<tab id="tab-server">-->
         <!--<sidebar id="sidebar-server-settings">-->
            <!--<item id="example-plugin-page" name="Example Plugin Properties" url="exampleplugin-page.jsp" description="Settings for Example Plugin" />-->
         <!--</sidebar>-->
      <!--</tab>-->
   <!--</adminconsole>-->
</plugin>