<?xml version="1.0" encoding="UTF-8"?>

<plugin>
   <class>com.hi.handy.message.plugin.MessagePlugin</class>
   <name>handy-message-plugin</name>
   <description>record all message to local</description>
   <author>Dave</author>
   <version>1.0.0</version>
   <date>2019-05-31</date>
   <minServerVersion>4.3.2</minServerVersion>
   <!--<adminconsole>-->
      <!--<tab id="tab-server">-->
         <!--<sidebar id="sidebar-server-settings">-->
            <!--<item id="example-plugin-page" name="Example Plugin Properties" url="exampleplugin-page.jsp" description="Settings for Example Plugin" />-->
         <!--</sidebar>-->
      <!--</tab>-->
   <!--</adminconsole>-->
</plugin>
